/data

/thirdparty/ctraj-build
/thirdparty/ctraj-install
/thirdparty/veta-build
/thirdparty/veta-install
/thirdparty/ufomap-build
/thirdparty/ufomap-install
/thirdparty/opengv-build
/thirdparty/opengv-install

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc
/debug
/img
/.vscode
add_gitmodules.sh
*.mp4