/thirdparty/ctraj-build
/thirdparty/ctraj-install
/thirdparty/veta-build
/thirdparty/veta-install
/thirdparty/ufomap-build
/thirdparty/ufomap-install
/thirdparty/opengv-build
/thirdparty/opengv-install

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc
/debug
/img
/.vscode
add_gitmodules.sh
*.mp4

/data/*

!/data/li-calib

/data/li-calib/Court-01/*
!/data/li-calib/Court-01/config-real.yaml
!/data/li-calib/Court-01/imu1-intri.yaml
!/data/li-calib/Court-01/imu2-intri.yaml
!/data/li-calib/Court-01/imu3-intri.yaml
/data/li-calib/Court-02/*
!/data/li-calib/Court-02/config-real.yaml
!/data/li-calib/Court-02/imu1-intri.yaml
!/data/li-calib/Court-02/imu2-intri.yaml
!/data/li-calib/Court-02/imu3-intri.yaml
/data/li-calib/Court-03/*
!/data/li-calib/Court-03/config-real.yaml
!/data/li-calib/Court-03/imu1-intri.yaml
!/data/li-calib/Court-03/imu2-intri.yaml
!/data/li-calib/Court-03/imu3-intri.yaml
/data/li-calib/Court-04/*
!/data/li-calib/Court-04/config-real.yaml
!/data/li-calib/Court-04/imu1-intri.yaml
!/data/li-calib/Court-04/imu2-intri.yaml
!/data/li-calib/Court-04/imu3-intri.yaml
/data/li-calib/Court-05/*
!/data/li-calib/Court-05/config-real.yaml
!/data/li-calib/Court-05/imu1-intri.yaml
!/data/li-calib/Court-05/imu2-intri.yaml
!/data/li-calib/Court-05/imu3-intri.yaml

/data/li-calib/Garage-01/*
!/data/li-calib/Garage-01/config-real.yaml
!/data/li-calib/Garage-01/imu1-intri.yaml
!/data/li-calib/Garage-01/imu2-intri.yaml
!/data/li-calib/Garage-01/imu3-intri.yaml
/data/li-calib/Garage-02/*
!/data/li-calib/Garage-02/config-real.yaml
!/data/li-calib/Garage-02/imu1-intri.yaml
!/data/li-calib/Garage-02/imu2-intri.yaml
!/data/li-calib/Garage-02/imu3-intri.yaml
/data/li-calib/Garage-03/*
!/data/li-calib/Garage-03/config-real.yaml
!/data/li-calib/Garage-03/imu1-intri.yaml
!/data/li-calib/Garage-03/imu2-intri.yaml
!/data/li-calib/Garage-03/imu3-intri.yaml
/data/li-calib/Garage-04/*
!/data/li-calib/Garage-04/config-real.yaml
!/data/li-calib/Garage-04/imu1-intri.yaml
!/data/li-calib/Garage-04/imu2-intri.yaml
!/data/li-calib/Garage-04/imu3-intri.yaml
/data/li-calib/Garage-05/*
!/data/li-calib/Garage-05/config-real.yaml
!/data/li-calib/Garage-05/imu1-intri.yaml
!/data/li-calib/Garage-05/imu2-intri.yaml
!/data/li-calib/Garage-05/imu3-intri.yaml

/data/real-world-old

!/data/river

/data/river/data_202392614595/*
!/data/river/data_202392614595/config-real.yaml
/data/river/data_202392615561/*
!/data/river/data_202392615561/config-real.yaml
/data/river/data_202392616822/*
!/data/river/data_202392616822/config-real.yaml

!/data/tum

!/data/tum/cam0-intri-pinhole-fisheye.yaml
!/data/tum/cam1-intri-pinhole-fisheye.yaml

/data/tum/rs-seq-1/*
!/data/tum/rs-seq-1/config-real.yaml
/data/tum/rs-seq-2/*
!/data/tum/rs-seq-2/config-real.yaml
/data/tum/rs-seq-3/*
!/data/tum/rs-seq-3/config-real.yaml
/data/tum/rs-seq-4/*
!/data/tum/rs-seq-4/config-real.yaml
/data/tum/rs-seq-5/*
!/data/tum/rs-seq-5/config-real.yaml
/data/tum/rs-seq-6/*
!/data/tum/rs-seq-6/config-real.yaml
/data/tum/rs-seq-7/*
!/data/tum/rs-seq-7/config-real.yaml
/data/tum/rs-seq-8/*
!/data/tum/rs-seq-8/config-real.yaml
/data/tum/rs-seq-9/*
!/data/tum/rs-seq-9/config-real.yaml
/data/tum/rs-seq-10/*
!/data/tum/rs-seq-10/config-real.yaml

/data/imu_intri/imu.rar
/data/imu_intri/imu/*

!/data/real-world
/data/real-world/iKalibr-data-2024-06-25-14-52-11/*
!/data/real-world/iKalibr-data-2024-06-25-14-52-11/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-14-52-11/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-14-55-10/*
!/data/real-world/iKalibr-data-2024-06-25-14-55-10/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-14-55-10/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-15-22-04/*
!/data/real-world/iKalibr-data-2024-06-25-15-22-04/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-15-22-04/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-15-30-05/*
!/data/real-world/iKalibr-data-2024-06-25-15-30-05/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-15-30-05/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-16-34-01/*
!/data/real-world/iKalibr-data-2024-06-25-16-34-01/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-16-34-01/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-16-42-32/*
!/data/real-world/iKalibr-data-2024-06-25-16-42-32/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-16-42-32/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-16-44-05/*
!/data/real-world/iKalibr-data-2024-06-25-16-44-05/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-16-44-05/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-16-49-39/*
!/data/real-world/iKalibr-data-2024-06-25-16-49-39/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-16-49-39/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-16-55-29/*
!/data/real-world/iKalibr-data-2024-06-25-16-55-29/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-16-55-29/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-17-10-20/*
!/data/real-world/iKalibr-data-2024-06-25-17-10-20/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-17-10-20/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-17-12-05/*
!/data/real-world/iKalibr-data-2024-06-25-17-12-05/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-17-12-05/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-17-17-17/*
!/data/real-world/iKalibr-data-2024-06-25-17-17-17/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-17-17-17/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-17-33-29/*
!/data/real-world/iKalibr-data-2024-06-25-17-33-29/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-17-33-29/*-imu-intri.yaml
/data/real-world/iKalibr-data-2024-06-25-17-37-20/*
!/data/real-world/iKalibr-data-2024-06-25-17-37-20/config-real.yaml
!/data/real-world/iKalibr-data-2024-06-25-17-37-20/*-imu-intri.yaml
